.signup_seller {
    width: 80%;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .seller-details,
  .company-details {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  input,
  button {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .success-banner {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  

  @media screen and (max-width: 686px) {
   form{
      display: block;
      margin:20px;
    }
  }
  
