h1 {
  text-align: center;
  margin-top: 10%;
}

.homepage {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.search-bar span {
  color: #007bff;
}

.searchpackage {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchbutton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  gap: 10%;
}

.suppliercategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
}

.suppliericon {
  width: calc(25% - 20px);
  text-align: center;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.category {
  font-size: 13px;
  margin-top: 10px;
}

.titlerow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.titlerow button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
}

.rowwise {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.suppliercategorybox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.topservices {
  margin-bottom: 10%;
}

.service-providers-grid_homepage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
