/* login.css */

.login {
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.login h1 {
  text-align: center;
  padding: 10px;
}

.login input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login .button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login .button:hover {
  background-color: #0056b3;
}

.login div {
  text-align: center;
  margin-top: 10px;
}

.login p {
  text-align: center;
  margin-top: 10px;
}

.login p a {
  color: #007bff; /* Blue color */
  text-decoration: none; /* Remove underline */
}
