.founders {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.founder-card {
  background: linear-gradient(180deg,#00A9FF 0%,#FFFFFF 30%);
  box-shadow: 0px 187px 75px rgba(0,0,0,0.01), 0px 105px 63px rgba(0,0,0,0.05);
  
  flex: 0 1 calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center; /* Align text to the center */
  border-radius: 30px; /* Add border-radius for curved corners */
}


.founder-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.founder-details {
  text-align: center; /* Align text to the center */
}

.content {
  text-align: center; /* Align all text to the center */
}

/* Additional styling for the AboutUs component */
.AboutUs {
  background-color: rgb(205, 234, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100%; /* Set the height to 100% */
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.logo img {
  width: 200px; /* Adjust as needed */
  height: auto;
}
