.seller {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.seller-profile-container {
  padding: 20px;
  background-color: #b0e0fd;
  max-width: 600px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 30px;
  margin-right: 0px;
}
.seller-reviews {
  background-color: #b0e0fd;
  border-radius: 10px;
  margin: 30px;
}
.seller-ratings {
  background-color: #b0e0fd;
  border-radius: 10px;
  margin: 30px;
}
.seller-details {
  display: grid;
  gap: 20px;
}

.seller-info h2 {
  margin-bottom: 10px;
}

.seller-forms {
  margin-top: 20px;
}

.seller-forms input,
.seller-forms button {
  margin-right: 10px;
}

.seller-forms button {
  background-color: #2980b9; /* Darker blue for buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.seller-forms button:hover {
  background-color: #1e6fa5; /* Darker hover color */
}

.button {
  width: 2px;
}
